.tools-container .tools-tabbar {
	height: 60px;
}

.tools-container .tools-tabbar .tabbar-item {
	border-bottom: 1px solid #676767;
	border-right: 1px solid #676767;
	background: #EDF1F3;
	height: auto;
	width: 50%;
	float: left;
}

.tools-container .tools-tabbar .tabbar-item p {
	text-align: center;
	padding: 20px;
	font-size: 28px;
}

.tools-container .tools-tabbar .tabbar-item.active {
	background: #159968;
	color: white;
}

.tools-container .tools-tabbar .tabbar-item.active p {
	color: white;
}

.tools-container .tools-tabbar a:hover .tabbar-item.active {
	color: #666;
}



.heatmap-tool .date-field {
	position: relative;
}

.heatmap-tool a.glyphicon-remove {
	position: absolute;
	top: 10px;
	right: 5px;
}

.heatmap-tool {
	padding-top: 20px;
}

.heatmap-tool .filter-form {
	border-bottom: 1px solid black;
	padding: 10px 40px;
}

.filter-form .input-group {
	margin-bottom: 8px;
}

.filter-form p.account-check {
	font-size: 18px;
	margin-bottom: 4px;
}

.filter-form .actions {
	
	  padding-top: 35px;
}