<?xml version="1.0" encoding="UTF-8" ?>

<phpunit bootstrap = "..\vendor\autoload.php"
	 color = "true"
	 convertErrorsToExceptions = "true"
	convertNoticesToExceptions = "true"
	convertWarningsToExceptions = "true"
	stopOnFailtures ="false"
	syntaxCheck = "true"
	>
	<testsuites>
		<testsuite>
			<directory>mysite\tests</directory>
		</testsuite>
	</testsuites>
</phpunit>	