php.ini
/public_html/assets/*
_ss_environment.php
/tools/phing-metadata
/public_html/silverstripe-cache
/.buildpath
/.project
/.settings
/.idea
.DS_Store
/tools/phing-metadata/
/vendor/
/*.iml
/public_html/framework
/public_html/silverstripe-restfulapi
/public_html/siteconfig
/cms
/buildtools
/docsviewer
/reports
public_html/mysite/config.codekit
config.codekit
public_html/silverstripe.log
node_modules