php.ini
/.htaccess
/.composer
/public_html/assets/*
public_html/_ss_environment.php
/tools/phing-metadata
/public_html/silverstripe-cache
.DS_Store
/vendor/
/public_html/framework
/public_html/silverstripe-restfulapi
/public_html/siteconfig
/public_html/phpunit
config.codekit
silverstripe.log
node_modules
.bash_history
.bashrc
.ssh/
/mysql_backups
.lesshst