.account-detail .accountdetail-name p {
font-size: 32px;
}

.accountdetail-balance{
text-align: right;
}

.account-detail .accountdetail-information p, .account-detail .accountdetail-balance p {
font-size: 20px;
}

.accountdetail-information, .accountdetail-balance {
margin-top:10px;
font-size: 20px;
}

.dropdown .dropdown-menu a {
	padding-left: 10px;
	font-size: 18px;
}

.transaction-table.data-table .transaction-row .transaction-date p{
font-size: 20px;
color: gray;
}

.transaction-table.data-table .transaction-row .transaction-payee p{
font-size: 20px;
text-align: left;
}

.transaction-table.data-table .transaction-row .transaction-amount p{
float: right;
font-size: 20px;
}

.accountdetailtransactions-section .dropdown button {
	width: 100%;
	margin-top:15px;
}