.product-page .main-section .product-content p {
	margin-bottom: 10px;
}

.product-page .product-content h1, 
.product-page .product-content h2, 
.product-page .product-content h3, 
.product-page .product-content h4 {
	
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	color: black;
	text-transform: none;
}

.product-page .product-content h1 { font-size: 30px; font-weight: 600;}
.product-page .product-content h2 { font-size: 26px; }
.product-page .product-content h3 { font-size: 22px; text-decoration: underline; color: #666; }
.product-page .product-content h4 { font-size: 18px; text-decoration: underline; color: #666; }