.accountdetail-name{
position: absolute;
font-size: 40px;
}

.accountdetail-information {
position: relative;
float: left;
}

.accountdetail-balance{
position: relative;
float: right;
text-align: right;
color: green;
}

.accountdetail-information, .accountdetail-balance{
margin-top:30px;
font-size: 20px;
}

.dropdown {
height:10px;
float: right;
margin-right: 70px;
bottom: 40px;
}

.dropdown-menu {
position: relative;
top: 80px;
}

.transaction-table.data-table .transaction-row.data-row .row .col-xs-4 .transaction-date p{
position: relative;
font-size: 20px;
color: gray;
}

.transaction-table.data-table .transaction-row.data-row .row .col-xs-6 .transaction-payee p{
position: relative;
font-size: 20px;
font-family: Trebuchet MS;
text-align: left;
}

.transaction-table.data-table .transaction-row.data-row .row .col-xs-2 .transaction-amount p{
position: relative;
float: right;
font-size: 20px;
}