

.bank-login-form {
	
	
}

.form-outer {
	
	
}

.form-inner {
	
	
}

h1 {
	
	text-align: center;
}

input {
	
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
border-radius: 4px;
}

input[type="submit"] {
	
	width:50%;
	margin: 10px auto;
	color: #333;
	background-color: #fff;
	border-color: #adadad;
}