@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);


/*
 * 	Page Styles
 */
.page-container h2 {
	margin-bottom: 5px;
	font-family: 'Open Sans', 'Helvetica Neue';
	letter-spacing: 10;
	text-transform: uppercase;
	color: #666666;
}

.page-container p {
	font-family: 'Open Sans','Helvetica Neue';
	margin: 0px;
}

.page-container .currency-red {
	color: #CC391A;
}

.page-container .currency-green {
	color: #30A857;
}

.page-container a {
	color: black;
}

.page-container, html {
	background: #EEEEEE;
}

.right {
	text-align: right;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.no-gutter .row {
	/*margin: 0px;*/
}






/*
 * 	Buttons
 */
.control-button {
	border: 1px solid #AAA;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-family: 'Open Sans', 'Helvetica Neue';
	font-weight: 400;
	font-size: 18px;
	display: block;
	margin: 10px;
}

.control-button.cb-light {
	background: #ECF0F2;
	color: #5C5C5C;
}

.control-button.cb-green {
	background: #239369;
	color: white;
}

.control-button.cb-right {
	float
}

.control-button.cb-fill {
	width: 100%;
}

.control-button.cb-small {
	padding: 5px 10px;
}

.control-button.cb-right { margin-right: 0px; }
.control-button.cb-left { margin-left: 0px; }
.control-button.cb-top { margin-top: 0px; }
.control-button.cb-bottom { margin-bottom: 0px; }








/*
 * 	Navigation bar
 */
.navigation-bar {
	background: white;
	min-width: 960px;
}

.navigation-bar-inner{
	border-bottom: 7px solid #1D654A;
	width: 98%;
	margin:auto;
	font-family: 'Open Sans';
}

.navigation-bar-container{
	min-width: 960px;
}

.navigation-bar .horse-logo {
	text-align: right;
	padding-top: 10px;
}
.navigation-bar .horse-logo a img {
	height: 80px;
}

#nav-text{
	font-size:14px;
	color:#7e7e7e;
	margin:15px 0 0 0px;
	padding:0;
	font-size: 22px;
}

.navigation-bar a{
	text-align:left;
	margin-top: 5px;
	margin-right: 7px;
	font-size: 30px;
}

.navigation-bar a:hover, a:focus{
	text-decoration:none;
	color:#4d4d4d;
}

#current{
	color:#196749;
	text-decoration:none;
	font-weight: bold;
}

.navigation-bar .nav-links {
	padding-bottom: 15px;
}






/*
 * 	The Sidebar
 */
.sidebar p.sidebar-link {
	text-align: center;
	width: 100%;
}

.sidebar p.sidebar-link a {
	color: #23527C;
}

.sidebar-container {
	border-right: 1px solid black;
}
 
.sidebar-container .sidebar {	
	padding-top: 50px;
	height: 100%;
}

.sidebar-container .sidebar .sidebar-section {
	margin: 0px 10px 25px 10px;
	padding-bottom: 25px;
	border-bottom: 3px solid #1D654A;
}

.sidebar-container .sidebar {
	font-family: 'Open Sans';
	color: #666666;
	font-size: 16px;
}

.sidebar-container .sidebar a.link-subtle {
	color: #666666;
}

.sidebar-container .sidebar h3, .sidebar-container .sidebar h2 {
	color: black;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
}

.sidebar-container .sidebar .sidebar-row {
	margin-bottom: 5px;
}

.sidebar .accounts-table .sidebar-row.item-right {
	text-align: right;
}








/*
 *	General Content Styling
 */
.main-container-outer .container {
	background: white;
	height: 100%;
	min-width: 960px;
}
.content-container {
	margin-bottom: 100px;
}
.main-section {
	margin-bottom: 0px;
	margin: 50px;
}

.main-section .data-table {
	background-color: #ECF0F2;
	padding: 0px 15px;
}

.main-section .data-table .data-row {
	border-bottom: 3px solid #1D654A;
	padding: 20px 0px;
	margin: 0px 25px;
}

.main-section .data-table .data-row.small-row {
	padding: 15px 0px;
}

.main-section .data-table .data-row.small-row p {
	font-size: 18px;
}

.main-section .data-table .data-row.last-row {
	border-bottom: 0px;
}

.data-row p {
	font-size: 28px;
}
