/*
	
	Bootstrap media queries
	https://scotch.io/quick-tips/default-sizes-for-twitter-bootstraps-media-queries
	
*/





/*==========  Non-Mobile First Method  ==========*/

/*
	
	
	
	
	Large Devices, Wide Screens
	
	
	
	
*/
@media only screen and (max-width : 1200px) {



}

/*
	
	
	Medium Devices, Desktops
	
	992 - 1200	
	col-md-...
	
	
*/
@media only screen and (max-width : 992px) {
	
	/*
		HEADER
	*/
	#header{
		#header-inner{
			.header-number{
				p{
					span.text{display: none;}
				}
			}
		}
	}
	
	
	/*
		
		DESTINATION PAGE
		
		
	*/
	#destination-content{
		.content{
			width: 100%;		
		}
	}



}

/*
	
	
	
	Small Devices, Tablets
	
	768 - 992
	col-sm-...
	
	
	
*/
@media only screen and (max-width : 768px) {

	/*
		HEADER
	*/
	#header{
		#header-inner{
			.breadcrumbs{
				.home{}
				.breadcrumb-icon{}
				.breadcrumb-active{}
			}
			.header-logo-outer{
				display: none;
			}
			.header-slogan{display: block;}
		}
	}

	
	/*
		
		DESTINATION PAGE
		
		
	*/
	#destination-container{
		#destination-content{
			margin-top: 280px;
			.content{
				padding: 0px;	
			}
		}
		#destination-tags{
			margin-top: 0px;
			min-height: inherit;
			.tag-container{
				.tag-icon{display: none;}
			}
		}
		
		.background-image{
			height: 280px;
		}
		
		.background-content{
			margin: 0px;
			padding-bottom: 0px;
		}
		
		.destination-bottom-content{
			.content-inner{
				margin-bottom: 40px;
				padding-bottom: 30px;
				border-bottom: 1px solid #ccc;
			}
		}
	}
	


}

/*
	
	Extra Small Devices, Phones
	
	
*/ 
@media only screen and (max-width : 480px) {






}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}