@import "config";
@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-theme";
@import "bootstrap/flat-ui-pro";

//@import url(http://fonts.googleapis.com/css?family=Pacifico);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans);


*, *:before, *:after {
	margin: 0;
	padding: 0;
	// http://html5please.com/#box-sizing
	@include box-sizing(border-box);
}

html {
	// font-size has to be set to the body for the rem mixins to be accurate
	font-size: $rem-base;
	line-height: 1.4;
	color: $text-color;
	font-family: $font-family;
}

@include selection {
	background: #000;
	color: #fff;
	// Remove text-shadow in selection highlight: h5bp.com/i
	@include text-shadow(none);
}




div li p ul {
	text-align: center;
}







